:root {
    --primary-color: #0A3871;
    --background-color: #F3F5FC;
    --background-two-color: #FFFFFF;
    --hover-color: #08274E; 
    --hover-two-color: #f6f8ff;
    --text-color: #343A40;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px;
}

.img-logo {
    display: flex;
    align-self: self-start;
    justify-content: center;
}

.crypto-input {
    display: flex;
    flex-direction: column;
}

.crypto-input-text textarea {
    all: unset;
    font-size: 2rem;
    width: 100%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

::placeholder {
    color: var(--primary-color);
}

.warning {
    display: flex;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 0.75rem;
    color: var(--text-color);
}

.buttons {
    display: flex;
    gap: 24px;
}

.primary-button, .secondary-button, .button-copy {
    text-align: center;
    border: none;
    background-color: var(--primary-color);
    color: var(--background-two-color);
    padding: 24px 104px;
    border-radius: 15px;
    font-size: 1rem;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-button:hover {
    background-color: var(--hover-color);
}

.secondary-button, .button-copy {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

.secondary-button:hover {
    background-color: var(--background-two-color);
}

.button-copy:hover {
    background-color: var(--hover-two-color);
}

.container {
    width: 400px;
    height: 84vh;
    display: grid;
    grid-template-columns: auto;
    padding: 32px;
    background-color: var(--background-two-color);
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.no-message-container {
    grid-row: 2;
    text-align: center;
    color: var(--text-color);
}

.no-message-container img {
    margin-bottom: 32px;
}

.no-message-container h2 {
    margin-bottom: 16px;
}

.output-container.enabled {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.crypto-output-p {
    font-size: 1.2rem;
    word-break: break-word;
    white-space: pre-wrap;
    padding: 32px;
}

.enabled {
    display: block;
}

.disabled {
    display: none;
}